form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}
.logBtn{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    background-color: #e99c2e;
    color: black;
}
input{
    width: 300px;
    box-shadow: 5px 5px 5px 5px grey;
    text-align: center;
    border: 10px 10px 10px 10px black;
}
.forms{
    text-align: center;
    height: 280px;
}
.new-image,.new-name,.new-price{
    color: black;
}
.addBtn{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    background-color: #e99c2e;
    color: black;
}
.theBtn{
    display: flex;
    justify-content: center;
}
.products{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
}